<!DOCTYPE html>
<html>
    <head>
        <title>Humsafar</title>

        <style>
            #root th{
                border: 1px solid black;
                padding : 5px;
            }
        </style>
    </head>
    <body>
        <button id="display" >Display</button>
    </body>
</html>