<!DOCTYPE html>
<html>
    <head>
        <title>Humsafar</title>
        <link rel="stylesheet" href="../assets/css/home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Secular+One&family=Texturina:wght@200&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body onload="display_home_data()">
    

        <!--  DO NOT TOUCH ... COPY FOR ALL ... CHANGE LINKS ALSO   -->

        <div  class="hide-overlay"  id="overlay-cnt">
            <div id="close-btn-cnt"><i id="close-btn" class="fas fa-times"></i></div>
            <br><br>
            <li class="overlay-lnks" >WELCOME !!</li>
            <div id="sub-overlay-cnt">
                <div class="overlay-lnks-cnt">
                    <a href="/login"><li class="overlay-lnks">Sign In / Sign Up</li></a>
                    <br><br>
                    <a href="/about-us"><li class="overlay-lnks">About Us</li></a>
                    <br>
                    <a href="/contact-us"><li class="overlay-lnks">Contact Us</li></a>
                </div>
            </div>
        </div>
        

        <!--  DO NOT TOUCH.... COPY FOR ALL  -->

        <div class="header-cnt">
            <div class="overlay-btn-cnt"><i id="show-overlay-btn" class="fas fa-outdent"></i></div>
            <div class="search-engine-cnt">
                <input id="search_input" autocomplete="home" onfocus="search_engine()" type="search" placeholder="Search place ...">               
                <div id="result-cnt">
                    <div id="geo-data"></div>
                </div>
            </div>
            
            <div class="compose-btn-cnt"><a href="/login"><i id="write-post-btn" class="fas fa-sign-in-alt"></i></a></div>
        </div>
        <hr>


<!--       ##########################################################################3       -->
        

        
        <div id="home-post-cnt"></div>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="../assets/js/home-script.js"></script>
        <script src="https://kit.fontawesome.com/12affb393a.js" crossorigin="anonymous"></script>
    </body>
</html>