* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #00587A;
}

@-webkit-keyframes show {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes show {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes hide {
  from {
    display: block;
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes hide {
  from {
    display: block;
    width: 100%;
  }
  to {
    width: 0;
  }
}

.show-overlay {
  display: block;
  text-align: center;
  z-index: 99999;
  height: 100vh;
  width: 50%;
  color: white;
  background-color: black;
  border-radius: 0 10px 10px 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hide-overlay {
  display: none;
  text-align: center;
  z-index: 99999;
  height: 100vh;
  width: 0;
  color: white;
  background-color: black;
  border-radius: 0 10px 10px 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  -webkit-animation-name: hide;
          animation-name: hide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#sub-overlay-cnt {
  position: relative;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

#sub-overlay-cnt a {
  font-size: 40px;
  display: block;
  margin: 5px;
  text-decoration: none;
  color: white;
}

#close-btn-cnt {
  position: absolute;
  font-size: 30px;
  top: 5px;
  right: 10px;
}

.overlay-lnks {
  font-size: 30px;
  list-style-type: none;
}

@media (max-device-width: 600px) {
  .show-overlay {
    width: 100%;
  }
  #home-post-cnt {
    padding: 40px 20px 40px 20px;
  }
}

.header-cnt {
  margin: 5px 0px;
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  background-color: #008891;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
}

#show-overlay-btn, #write-post-btn {
  font-size: 25px;
  color: #bbbfca;
  padding: 8px;
  border-radius: 5px;
  background-color: black;
}

#search_input {
  border: 2px solid gray;
  border-radius: 5px;
  background-color: #E7E7DE;
  font-size: 20px;
  width: 95%;
  height: 40px;
}

#search_input:focus {
  outline: none;
}

#result-cnt {
  background-color: #9ea1a8;
  padding: 3px;
  width: 57%;
  margin-left: 1.5%;
  position: absolute;
  z-index: 999;
}

#result-cnt button {
  border: none;
  font-size: 15px;
  background-color: inherit;
  text-align: left;
  width: 100%;
}

/**??????????????????????????????????????????????????????*/
#home-post-cnt {
  padding: 50px;
}

@media (max-device-width: 600px) {
  #home-post-cnt {
    padding: 40px 20px 40px 20px;
  }
}

.sub-post-cnt {
  padding: 5px;
  border: 2px solid #0F3057;
  background-color: #008891;
  border-radius: 10px;
}

.post-review-cnt {
  text-align: end;
  font-family: 'Oswald', sans-serif;
}

.post-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.post-place {
  font-family: 'Secular One', sans-serif;
}

.post-author {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Texturina', serif;
}

.post-text {
  font-family: 'Varela Round', sans-serif;
  word-spacing: 5px;
  letter-spacing: 2px;
}
/*# sourceMappingURL=home.css.map */